@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
@import url("https://fonts.googleapis.com/css?family=Space%20Mono:700|Space%20Mono:400");

html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#root {
	--text: #ffffff;
	--background: #1b262c;
	--primary: #0f4d75;
	--secondary: #1fa5ff;

	--heading-large: 26px;
	--heading-medium: 22px;
	--heading-small: 18px;
	--heading-weight: 700;

	--body-large: 16px;
	--body-medium: 14px;
	--body-small: 12px;
	--body-weight: 400;

	font-family: "Space Mono", sans-serif;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
